<div class="tabs">
    <ul>
      <li [ngClass]="{'is-active': ordered==true}" ><a (click)="isSelectedPage('ordered')">Price Ordered Plates</a></li>
      <li [ngClass]="{'is-active': filtered==true}" ><a (click)="isSelectedPage('filtered')">Filtered Plates</a></li>
      <li [ngClass]="{'is-active': sell==true}" ><a (click)="isSelectedPage('sell')">Sell Plates</a></li>
    </ul>
  </div>

  <div class="block">
    @if(ordered==true) {
       <app-ordered-plates></app-ordered-plates>
    } 
    @if(filtered==true){
        <app-filtered-plates></app-filtered-plates>
    }
    @if(sell==true){
      <app-sell-plates></app-sell-plates>
    }
  </div>